@model Tuple<HGV.AD.Web.Models.Attributes.AbilityAttributes, HGV.AD.Web.Models.Statistics.CurrentAbilityStat, HGV.AD.Web.Models.Statistics.AbilityStatBase, List<HGV.AD.Web.Models.Statistics.CurrentAbilityComboStat>, List<HGV.AD.Web.Models.Statistics.AbilityComboStatBase>>

@{
    ViewData["Title"] = "Ability Details";
}
<section>
    <hr />

    <div class="row">
        <div class="col-sm-4">
            <section>
                <img src="@string.Format("http://cdn.dota2.com/apps/dota2/images/abilities/{0}_hp1.png", Model.Item1.Identity)" />
            </section>
        </div>
        <div class="col-sm-8">
            <section>
               <h3>@Model.Item1.Name</h3>
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td class="text-info">Keywords</td>
                            <td>@Model.Item1.Keywords</td>
                        </tr>
                        <tr>
                            <td class="text-info">Ultimate</td>
                            <td>@Model.Item1.Ultimate</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">

            <section>
                @Html.Raw(Model.Item1.Html)
            </section>
            
            <hr />

            <section>
                <h3>Trends</h3>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Current</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-info">Wins</td>
                            <td>
                                <span >@Model.Item2.Wins</span>
                            </td>
                            <td>
                                <span class="@(Model.Item3.Wins > 0 ? "text-success" : Model.Item3.Wins < 0 ? "text-danger" : "" )">@Model.Item3.Wins</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-info">Loses</td>
                            <td>
                                <span >@Model.Item2.Loses</span>
                            </td>
                            <td>
                                <span class="@(Model.Item3.Loses> 0 ? "text-danger" : Model.Item3.Loses < 0 ? "text-success" : "" )">@Model.Item3.Loses</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-info">Kills</td>
                            <td>
                                <span >@Model.Item2.Kills</span>
                            </td>
                            <td>
                                <span class="@(Model.Item3.Kills > 0 ? "text-success" : Model.Item3.Kills < 0 ? "text-danger" : "" )">@Model.Item3.Kills</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-info">Deaths</td>
                            <td>
                                <span >@Model.Item2.Deaths</span>
                            </td>
                            <td>
                                <span class="@(Model.Item3.Deaths > 0 ? "text-danger" : Model.Item3.Deaths < 0 ? "text-success" : "" )">@Model.Item3.Deaths</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-info">Assists</td>
                            <td>
                                <span >@Model.Item2.Assists</span>
                            </td>
                            <td>
                                <span class="@(Model.Item3.Assists > 0 ? "text-success" : Model.Item3.Assists < 0 ? "text-danger" : "" )">@Model.Item3.Assists</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-info">Total</td>
                            <td>
                                <span>@Model.Item2.Total</span>
                            </td>
                            <td>
                                <span class="@(Model.Item3.Total > 0 ? "text-success" : Model.Item3.Total < 0 ? "text-danger" : "" )">@Model.Item3.Total</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <hr />

            <section>
                <h3>Notes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor lacinia magna, vel tempor ex pellentesque eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vehicula volutpat tellus et mollis.</p>
            </section>
        </div>
        <div class="col-md-8">

            <section>
                <h3>Ability Combo Trends</h3>
                <table id="tblCombos" class="table table-condensed table-striped  display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ability</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>Kills</th>
                            <th>Deaths</th>
                            <th>Assists</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item4)
                        {
                            <tr>
                                <td>
                                    <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="@item.ComboId">
                                        <img src="@string.Format("http://cdn.dota2.com/apps/dota2/images/abilities/{0}_hp1.png", item.ComboIdentity)" title="@item.ComboName" alt="Ability" class="img-responsive" width="30" height="30" />
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="@item.ComboId">
                                        @item.ComboName
                                    </a>
                                </td>
                                <td>
                                    @item.Wins
                                </td>
                                <td>
                                    @item.Loses
                                </td>
                                <td>
                                    @item.Kills
                                </td>
                                <td>
                                    @item.Deaths
                                </td>
                                <td>
                                    @item.Assists
                                </td>
                                <td>
                                    @item.Total
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>

            <hr />

            <section>
                <h3>Ability Combo Change</h3>
                <table id="tblCombosTrends" class="table table-condensed table-striped  display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ability</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>Kills</th>
                            <th>Deaths</th>
                            <th>Assists</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item5)
                    {
                            <tr>
                                <td>
                                    <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="@item.ComboId">
                                        <img src="@string.Format("http://cdn.dota2.com/apps/dota2/images/abilities/{0}_hp1.png", item.ComboIdentity)" title="@item.ComboName" alt="Ability" class="img-responsive" width="30" height="30" />
                                    </a>
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="@item.ComboId">
                                        @item.ComboName
                                    </a>
                                </td>
                                <td class="@(item.Wins > 0 ? "text-success" : item.Wins < 0 ? "text-danger" : "" )">
                                    @item.Wins
                                </td>
                                <td class="@(item.Loses > 0 ? "text-danger" : item.Loses < 0 ? "text-success" : "" )">
                                    @item.Loses
                                </td>
                                <td class="@(item.Kills > 0 ? "text-success" : item.Kills < 0 ? "text-danger" : "" )">
                                    @item.Kills
                                </td>
                                <td class="@(item.Deaths > 0 ? "text-danger" : item.Deaths < 0 ? "text-success" : "" )">
                                    @item.Deaths
                                </td>
                                <td class="@(item.Assists > 0 ? "text-success" : item.Assists < 0 ? "text-danger" : "" )">
                                    @item.Assists
                                </td>
                                <td class="@(item.Total > 0 ? "text-success" : item.Total < 0 ? "text-danger" : "" )">
                                    @item.Total
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>
            </section>

        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblCombos').DataTable({
                "scrollX": true,
                "order": [[2, "desc"]],
                "pagingType": "simple",
                "dom": "<'row'<'col-sm-6'i><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'l><'col-sm-7'p>>",
            });

            $('#tblCombosTrends').DataTable({
                "scrollX": true,
                "order": [[2, "desc"]],
                "pagingType": "simple",
                "dom": "<'row'<'col-sm-6'i><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'l><'col-sm-7'p>>",
            });

        });
    </script>
}