@model Tuple<List<HGV.AD.Web.Models.Attributes.AbilityAttributes>, List<HGV.AD.Web.Models.Trends.AbilityStatBase>, List<HGV.AD.Web.Models.Trends.AbilityStatBase>>

@{
    ViewData["Title"] = "Abilities";
}

<h2>Abilities </h2>

<hr />

<section>
    <h4 class="text-center">Stats</h4>
    <table id="tblAbilities" class="table table-condensed table-striped  display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Icon
                </th>

                <th>
                    Ultimate
                </th>
                <th>
                    Target
                </th>
                <th>
                    AffectsWhom
                </th>
                <th>
                    DamageType
                </th>
                <th>
                    Keywords
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="@item.AbilityId">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="@item.AbilityId">
                            @*<img src="@string.Format("http://cdn.dota2.com/apps/dota2/images/abilities/{0}_hp1.png", item.Identity)" title="@item.Name" alt="Ability" class="img-responsive" width="30" height="30" />*@
                            <img src="@string.Format("/images/spellicons/{0}.png", item.Identity)" title="@item.Name" alt="Ability" class="img-responsive" width="30" height="30" />
                        </a>
                    </td>

                    <td>
                        @(item.Ultimate == true ? "Yes" : "No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Target)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AffectsWhom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DamageType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keywords)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</section>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblAbilities').DataTable({
                "scrollX": true,
                "pagingType": "simple",
                "dom": "<'row'<'col-sm-6'i><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'l><'col-sm-7'p>>",
            });
        });
    </script>
}