<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HGV</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fc-3.2.2/datatables.min.css" />

<environment names="Development">
    <link rel="stylesheet" href="/css/dota-ability-tooltip.css" />
    <link rel="stylesheet" href="/css/site.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="/css/dota-ability-tooltip.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
</environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a asp-area="" asp-controller="Info" asp-action="Index" class="navbar-brand">
                    High Ground Vision <small>AD</small>
                </a>

            </div>
            <div id="mainNav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Info" asp-action="About" class="text-info">About</a></li>
                            <li><a asp-area="" asp-controller="Info" asp-action="Guide">Guide</a></li>
                            <li><a asp-area="" asp-controller="Info" asp-action="History" class="text-info">History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Heroes" asp-action="Index">Heroes</a></li>
                            <li><a asp-area="" asp-controller="Abilities" asp-action="Index">Abilities</a></li>
                            <li><a asp-area="" asp-controller="Info" asp-action="Illusions">Illusions</a></li>
                        </ul>
                    </li>            
                    <li><a asp-area="" asp-controller="Draft" asp-action="Index">Draft</a></li>
                    <li><a asp-area="" asp-controller="Matches" asp-action="Index">Matches</a></li>
                </ul>
                
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="body-content">
        <div class="container body-content-container">
            @RenderBody()
        </div>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <h3>
                        <img src="~/images/logo/Wards.jpg" width="50" class="img-rounded" /> 
                        HGV 
                        <small>AD</small>
                    </h3>

                    <p>
                        &copy; @DateTime.Today.Year - <a href="http://venatiostudios.com/">Venatio Studios</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <ul class="list-unstyled">

                        <li>
                            <h3>
                                <small>Join us</small>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <i class="fa fa-twitter"></i>
                                <a href="https://twitter.com/DotaHGV" target="_blank">@@DotaHGV</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <img src="~/images/logo/Discord.png" width="34" height="34" />
                                <a href="https://discord.gg/caSzBph" target="_blank">AD Guild</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <i class="fa fa-github"></i>
                                <a href="https://github.com/HighGroundVision/Desolator" target="_blank">Desolator</a>
                            </h3>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="list-unstyled">
                        
                        <li>
                            <h3>
                                <small>Powered by</small>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="https://github.com/HighGroundVision/Desolator" target="_blank">High Ground Vision</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="https://www.opendota.com/" target="_blank">
                                    <strong>&lt;OpenDota /&gt;</strong>
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fc-3.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>

<environment names="Development">   
    <script src="/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="/js/site.min.js" asp-append-version="true"></script>
</environment>

    @RenderSection("scripts", required: false)
</body>
</html>
